@import 'styles/variables/colors';
@import 'styles/variables/breakpoints';

.container {
  margin-bottom: 14px;
}

.collapse {
  background: transparent;

  :global {
    .ant-collapse-header {
      align-items: center !important;
      justify-content: center;
    }

    .ant-collapse-content {
      background: $antd-gray-3;
    }

    .ant-collapse-content-box {
      padding: 0 16px !important;
    }

    .ant-collapse-expand-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      span[role='img'] {
        font-size: 18px !important;
        color: $antd-gray-7;
      }
    }
  }
}

.title {
  margin-bottom: 0 !important;

  @media (max-width: $screen-breakpoint-md) {
    font-size: 22px !important;
  }
}

.list {
  margin-bottom: 0;
  padding-left: 30px;
  list-style: none;

  li {
    a {
      margin-right: 8px;
      font-size: 18px;
    }

    span {
      font-size: 15px;
      color: $antd-gray-7;
    }

    @media (max-width: $screen-breakpoint-md) {
      a {
        font-size: 16px;
      }
    }
  }
}

.divider {
  margin: 18px 0;
}
