@import 'styles/variables/breakpoints';

.wrapper {
  flex: 1;
  margin-top: 2px;
}

.container {
  display: flex;
  justify-content: space-between;

  :global(.ant-space-item:first-child) {
    width: 100%;
    margin-right: 40px;
  }

  @media (max-width: $screen-breakpoint-lg) {
    flex-direction: column;

    :global {
      .ant-space-item:first-child {
        margin-right: 0;
      }

      .ant-space-item:last-child {
        width: 100%;
      }
    }
  }
}
