.divider {
  &.y0{
    margin: 0;
  }

  &.y1 {
    margin: 2px 0;
  }

  &.y2 {
    margin: 4px 0;
  }

  &.y3 {
    margin: 6px 0;
  }

  &.y4 {
    margin: 8px 0;
  }

  &.y5 {
    margin: 10px 0;
  }

  &.y6 {
    margin: 12px 0;
  }
}
