@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/breakpoints';

.estimates {
  display: flex;
  justify-content: center;
  max-width: 35%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;

    @media (max-width: $screen-breakpoint-lg) {
      display: none;
    }
  }

  @media (max-width: $screen-breakpoint-lg) {
    max-width: 100%;
    margin-bottom: 4px;

    .buttonContainer {
      margin-right: 12px;
    }
  }
}
