@import 'styles/variables/breakpoints';

.tagline {
  display: flex;
  align-items: center;
  width: 100%;

  h3 {
    margin-bottom: 14px;

    @media (max-width: $screen-breakpoint-lg) {
      margin-bottom: 6px;
    }

    @media (max-width: $screen-breakpoint-md) {
      font-size: 18px;
    }
  }
}
