@import 'styles/variables/breakpoints';
@import 'styles/mixins/breakpoints';

.btn {
  @include container-min($screen-breakpoint-md + 1px);

  min-width: 32px;
  margin-right: 12px;
  margin-top: 2px;
  border: none;
  background: transparent;
  color: white;
  transition: none;

  span {
    font-size: 22px;
  }

  @media (max-width: $screen-breakpoint-sm) {
    margin-right: 2px;
  }
}
