@import 'styles/variables/index';
@import 'styles/variables/colors';

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - $default-layout-footer-height - $default-layout-footer-height);

  :global {
    .ant-spin {
      color: $antd-orange-6;
    }

    .ant-spin-dot {
      font-size: 60px;
    }
  }
}
